/* Базовые стили, изменять не нужно */
body {
    width: 540px;
    min-height: 290px;
    font-size: 14px;
    line-height: 20px;
    font-family: "Arial",sans-serif;
    color: #fff;
    background-color: #3a78a1;
    background-image: url(https://htmlacademy.pp.ua/test8-23/grid.png);
    background-repeat: repeat;
    background-position: -80px -80px;
}

.block {
  background-color: rgba(0, 255, 255, 0.2);
}

/* Стили блоков */
.block-1 {
  margin-top: 40px;
  height: 40px;
  width: 180px;
}

.block-2 {
  margin: 40px 0 0 100px;
  width: 180px;
  height: 100px;
  border: 10px solid #fff;

}
